<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kavita.ppf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".add_account.AddAccountActivity"
            android:label="Add Account"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".yearly_limit.YearlyLimitActivity"
            android:label="Yearly Limit"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".interest_rate.InterestRateActivity"
            android:label="Rate Of Interest"
            android:parentActivityName=".MainActivity"/>

    </application>

</manifest>